---
layout: popup
---
    <h3>Tema 0 - Introducción a la programación</h3>

<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema0" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
    {% endif %}
{% endfor %}
</ol>
    <h3>Tema 1 - Introducción</h3>
<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema1" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
    {% endif %}
{% endfor %}
</ol>

<h3>Tema 2 - Despliegue de software</h3>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema2" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>

<h3>Tema 3 - Seguridad Web</h3>
<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema3" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
<h3>Tema 4 - Riesgos de seguridad en aplicaciones Web</h3>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema4" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>

<h3>Tema 5 - CD/CI</h3>

<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema5" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>
<h3>Tema 6 - Seguridad  móvil</h3>
<ol class='portada'> 
{% for post in site.posts reversed %}
{% if post.categories contains "tema6" %}
  <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endif %}
{% endfor %}
</ol>

