.current {
  color: green; }
html {
  scroll-behavior: smooth;
}

body {
  padding-left: 0;
  padding-right: 0;
  background-color: #f8f8f8; 
  font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: rgb(51, 51, 51);
  line-height: 1.6;
  }

#write-wrapper {
  margin: 0px auto;
  margin-top: 0px;
  margin-bottom: 80px;
  max-width: 960px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #c2c2c2; }

#write, #custom-footer {
  max-width: 100%; }

.typora-menu-hidden {
  margin: 0;
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: auto;
  width: 300px;
  color: #364149;
  background: #2c2c2c;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
  opacity: .9; }
  
.typora-menu-hidden > ul{
  padding:0;
 }
.hide-menu .typora-menu-hidden {
  left: -300px;
}

.main-content {
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  color: #000; }

#nav-previous, #nav-next, .top-hidden a.toogle {
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
  background-color: #2c2c2c;
  opacity: .9; }

.hide-menu #nav-previous, .hide-menu #nav-next, .hide-menu #topFixed a.toogle, .hide-menu #indexFixed a.toogle {
  left: 0; }

.hide-menu .main-content {
  margin-left: 0px; }

.md-toc-item a {
  display: block;
  padding: 4px 4px;
  border-bottom: none;
  color: #fafafa;
  background: 0 0;
  position: relative;
  outline: none; }

.top-hidden, .top-hidden.indice {
  display: none;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 30%; }

.top-hidden.indice {
    top: 30px;
  }
.top-hidden a.toogle, .top-hidden.indice a.toogle{
  color: #c2c2c2;
  padding: 8px;
  height: 20px;
  left: 300px;
  position: fixed;
  padding-top: 2px;
  width:16px;
}
 

#nav-previous {
  color: #c2c2c2;
  padding: 8px;
  left: 300px;
  position: fixed;
  top: 30px;
  height: 20px;
  padding-top: 2px; }

#nav-next {
  color: #c2c2c2;
  padding: 8px;
  left: 300px;
  position: fixed;
  top: 60px;
  height: 20px;
  padding-top: 2px; }

.top-hidden a.toogle:hover, .top-hidden a.toogle:focus, #nav-previous:hover, #nav-next:hover, #nav-previous:focus, #nav-next:focus {
  color: #4183c4; }menuFixed

#menuFixed a {
  border-left: 1px solid transparent; }

#menuFixed a.active {
  border-left: 1px solid #fafafa;
  color: #4183c4; }

.md-toc-h1 .md-toc-inner {
  font-weight: inherit; }

.md-toc-h2 .md-toc-inner {
  margin-left: 0.4em; }

.md-toc-h3 .md-toc-inner {
  margin-left: 2em; }

.md-toc-h4 .md-toc-inner {
  margin-left: 3em; }

.md-toc-h5 .md-toc-inner {
  margin-left: 4em; }

.md-toc-h6 .md-toc-inner {
  margin-left: 5em; }

.md-toc-h1 a.md-toc-inner {
  font-size: 1.3rem; }

.raw-code {
  cursor: pointer;
  position: absolute;
  top: -28px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border: 1px solid #263237;
  color: #263237; }

.raw-code.hide {
  display: none; }

.raw-code.show {
  display: inherit; }

#write-wrapper img {
  margin: auto;
  display: block;
  max-width: 100%; 
}

.highlight{
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;   
  white-space: pre-wrap;
}
#write{
  padding: 80px;
  padding-top: 12px;
}

#content p, #content li{
  text-align: justify;
}
#content p{
	text-indent: 2em;
}
#content li p, #content blockquote p {
  text-indent: revert;
}
blockquote {
    border-left: 4px solid #2c2c2c;
    padding: 0 15px;
    color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
position: relative;
margin-top: 1rem;
margin-bottom: 1rem;
font-weight: bold;
line-height: 1.4;
cursor: text;
}
h1 {
padding-bottom: 0.3em;
font-size: 2.25em;
line-height: 1.2;
border-bottom: 1px solid rgb(238, 238, 238);
}
h2 {
padding-bottom: 0.3em;
font-size: 1.75em;
line-height: 1.225;
border-bottom: 1px solid rgb(238, 238, 238);
}
h3 {
font-size: 1.5em;
line-height: 1.43;
}
h4 {
font-size: 1.25em;
}
h5 {
font-size: 1em;
}
h6 {
font-size: 1em;
color: rgb(119, 119, 119);
}
code.highlighter-rouge {
background-color: rgb(243, 244, 244);
  padding: 0px 2px;
  border: 1px solid rgb(231, 234, 237);
  border-radius: 3px;
  font-size: 0.9em;
  font-family: var(--monospace);
}
pre{
  font-size: 14.4px;
}
#disqus_thread{
  background-color: #fafafa;
  padding: 80px;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
  float: right;
}

.typora-menu-hidden{
padding: 0;
display: none;
}
ul.typora-menu-hidden li > ul {
padding: 0px 12px;
}
.typora-menu-hidden li a{
  display: block;
  color: rgb(65, 131, 196);
}
.typora-menu-hidden, .typora-menu-hidden ul {
  list-style-type: none;
}
.typora-menu-hidden li a {
  display: block;
  padding: 4px 4px;
  border-bottom: none;
  color: #fafafa;
  background: 0 0;
  position: relative;
  outline: none;
  text-decoration: none;
}

video {
  max-width: 100%;
  display: block;
  margin: 0px auto;
}
.hidden{
  display:none;
}
.show, .top-hidden.indice.show{
  display:inline;
}

#back-to-top-link {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #3f3f3f; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #376872;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

blockquote.task{
  border-left:0;
}
blockquote.task strong, blockquote.task i{
  color:rgb(51, 51, 51);
}
blockquote.task + blockquote, blockquote.task {
  border-left:4px solid red;
}
blockquote.reto{
  background-color: rgb(204, 72, 72);
  color:white;
}


blockquote.reto strong, blockquote.reto i{
  color:rgb(228, 209, 209);
}


.PageNavigation a, .pdf,  .presentation, #menu a, .portada a{
  text-decoration: none; color:rgb(51, 51, 51); font-size:0.8em
}
 .portada a{
  color:#51929b;
}
.portada a{
  font-size:inherit;
}
.PageNavigation a, #menu a{
  font-size:inherit;
}
#menuContainer code.highlighter-rouge{
  background-color: transparent;
}

textarea,
input[type="text"] {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	display: block;
	box-sizing: padding-box;
}

textarea {
	height: 250px;
	line-height: 1.5em;
	border: 1px solid #ccc;
	resize: none;
}

label {
	margin: 30px 0 10px 0;
	display: block;
}

input[type="submit"] {
	margin: 30px 0 0 0;
	font-size: 20px;
}

.search {
	margin: 0 auto;
	padding: 100px 0;
}
.search h3 a{
  display: inline-block;
  text-decoration: none;
  color:rgb(51, 51, 51)
}
span.hit{
  color:white;
  background-color: #376872;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
blockquote.info{
  color: #bf7900;
  background: #fffbdc;
  padding: 12px;
  padding-left: 28px;
  border: 1px solid #bf7900;
}
blockquote.info i {
  margin-left: -18px;
  font-size: 32px;
  margin-right: 2px;
}
blockquote.info{
  color: #bf7900;
  background: #fffbdc;
  padding: 12px;
  padding-left: 28px;
  border: 1px solid #bf7900;
}

.language-plaintext .rouge-gutter.gl{
  display: none;
}

.language-plaintext.highlighter-rouge .highlight{
  padding: unset;
}

td.rouge-gutter.gl{
  text-align: right;
}

// ## Import Google font
// -------------------

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

// ## Mixins
// -------------------

// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// ## Base
// -------------------

// apply a natural box layout model to all elements, but 
// allowing components to change
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6f6;
  min-height: 100vh;
  height: 100vh;
  padding: 35px;
  position: relative;
}

a {
  text-decoration: none;
  color: #4183c4;
}

.body-blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: none;
}
  
.body-blackout.is-blacked-out {
  display: block;
}
.popup-trigger {
  display: inline-block;
}

.popup-modal {
  height: 50%;
  width: 50%;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  
}
.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}
.popup-modal.is--visible #iframeIndice{
  display: inline;
}
.popup-modal #iframeIndice{
  display: none;
}

.popup-modal__close {
  position: absolute;
  font-size: 1.2rem;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

ul.doc-info {
    list-style: none;
}
