<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"> 
    <link href="{{ site.baseurl }}/assets/css/syntax.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>
    <link href='https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
  </head>
  <body class='preview-zenburn'>
   <a id="top"></a>
    <a class="github-fork-ribbon" href="https://github.com/{{ site.github_repo}}" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <div id='write-wrapper'>
      {% include navigation.html %}
      <div id='write'>
        {{ content }}
        <a href="#top" id='back-to-top-link'><i class='fa fa-angle-up'></i></a>
      </div>
    </div>    
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    {% include analytics.html %}
  </body>
</html>
