---
layout: default
---
{% assign pathToPdf = page.path %}
<a class='pdf' alt='Versión en Pdf' title='Versión en PDF' href="{{ site.baseurl }}{{ pathToPdf | remove: ".md" | replace: "_posts/" , "/assets/pdf/"}}.pdf"> (Descarga la versión en <i class="fas fa-file-pdf"></i>)</a>
{% if page.presentation %}
<a class='presentation' alt='Presentación {{ page.title }}' title='Presentación {{ page.title }}' href="{{ site.baseurl }}{{ pathToPdf | remove: ".md" | replace: "_posts/" , "/assets/presentation/"}}.html"> (Diapositivas <i class="fas fa-desktop"></i>)</a>

{% endif %}
{% include postNavigation.html %}
{% if page.conToc %}
<h1>{{ page.title }}</h1>
{% endif %}
        {% assign content = content | replace: '>[info]', ' class="info"><i class="fa fa-info"></i> ' %}
        {% assign content = content | replace: '>-tarea-', ' class="task"><i class="fa fa-check"></i> ' %}
        {% assign content = content | replace: '>-reto-', ' class="reto"><i class="fa fa-check"></i> ' %}
        <div>
            {% if page.conToc %}
                {% include toc.html html=content class="atypora-menu" id="menu"%}
            {% endif %}
            <div id="menuContainer">
                {% if page.conToc %}
                    {% include toc.html html=content class="typora-menu-hidden" id="menuFixed"%}
                {% endif %}
                <div class="top-hidden" id="topFixed">
                    <a title='Mostrar/Ocultar menú' class="toogle expanded pull-left js-toolbar-action" aria-label="" href="#"><i class="fas fa-align-justify"></i></a>
                </div>
                <div class="top-hidden indice btn btn-sm btn-primary shadow p-2 px-3 popup-trigger"
                    data-popup-trigger="one" id="indexFixed" style='cursor:pointer'>
                    <a title='Índice' class="toogle expanded pull-left js-toolbar-action" aria-label="" onclick='return false'><i class="fas fa-list"></i></a>
                </div>
            </div>
        </div>
        <div id='content'>
        {{ content }}
        </div>
        {% include postNavigation.html %}
<!-- body overlay -->
<div class="body-blackout"></div>

<!-- Modals Triggers -->

<div 
  class="popup-modal shadow" 
  data-popup-modal="one">
  <i class="fas fa-2x fa-times text-white bg-primary p-3 popup-modal__close"></i>
  <iframe id="iframeIndice" scrolling="yes" frameborder="0" style="position: relative; height: 100%; width: 100%;" src='/Ciberseguridad-PePS/index-popup.html'></iframe>
 
</div>