---
layout: default
---
{% assign pathToPdf = page.path %}
<a class='pdf' alt='Versión en Pdf' title='Versión en PDF' href="{{ site.baseurl }}{{ pathToPdf | remove: ".md" | replace: "_posts/" , "/assets/pdf/"}}.pdf"> (Descarga la versión en <i class="fas fa-file-pdf"></i>)</a>
{% if page.presentation %}
<a class='presentation' alt='Presentación {{ page.title }}' title='Presentación {{ page.title }}' href="{{ site.baseurl }}{{ pathToPdf | remove: ".md" | replace: "_posts/" , "/assets/presentation/"}}.html"> (Diapositivas <i class="fas fa-desktop"></i>)</a>

{% endif %}
{% include postNavigation.html %}
{% if page.conToc %}
<h1>{{ page.title }}</h1>
{% endif %}

        {% assign content = content | replace: '>-tarea-', ' class="task"><i class="fa fa-check"></i> ' %}
        <div>
            {% if page.conToc %}
                {% include toc.html html=content class="atypora-menu" id="menu"%}
            {% endif %}
            <div id="menuContainer">
                {% if page.conToc %}
                    {% include toc.html html=content class="typora-menu-hidden" id="menuFixed"%}
                {% endif %}
                <div class="top-hidden" id="topFixed">
                    <a class="toogle expanded pull-left js-toolbar-action" aria-label="" href="#"><i class="fas fa-align-justify"></i></a>
                </div>
            </div>
        </div>
        <div id='content'>
        {{ content }}
        </div>
        {% include postNavigation.html %}
        {% include disqus.html %}